
<!-- Restaurants -->
<a name="restaurants"></a>
<div class="blue lighten-5">
  <div class="icon-top center"><a class="btn-floating btn-large waves-effect waves-light green darken-1"><i class="fa fa-cutlery"></i></a></div>
  <div class="row">
    {{#each restaurants}}
    {{#unless this.keywords_from_user_history}}
      <div class="col l3">
        <div class="card">
          <div class="card-image">
            <img src="../assets/images/{{this.details.filename}}">

            <span class="card-title">{{{this.details.name}}}</span>
            {{#if this.age}}
              <span class="new badge new-store light-green"></span>
            {{/if}}
          </div>
          <div class="card-content">
            <p class="ellipsis multiline">{{{this.details.info}}}</p>

            {{! Star rating conditionals }}

            {{#if (and (mte this.details.avg_rating 1) (lt this.details.avg_rating 1.5)
            )}}
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 1.5) (lt this.details.avg_rating 2)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 2) (lt this.details.avg_rating 2.5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 2.5) (lt this.details.avg_rating 3)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 3) (lt this.details.avg_rating 3.5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 3.5) (lt this.details.avg_rating 4)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 4) (lt this.details.avg_rating 4.5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 4.5) (lt this.details.avg_rating 5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (eq this.details.avg_rating "5")}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}

            {{! Showing matching of keywords from user history visually }}
            <div>
            {{#each ../restaurants.[0].keywords_from_user_history}}
              {{#if (inArray ../this.details.keywords (toLower this.word))}}
                <div class="chip light-green chip-keyword">
                  {{this.word}}
                </div>
              {{else}}
                <div class="chip red accent-3 chip-keyword">
                  {{this.word}}
                </div>
              {{/if}}
            {{/each}}
            </div>
          </div>
          <div class="card-action">
            <a href="#">Website</a>
          </div>
        </div>
      </div>

    {{/unless}}
    {{else}}
        <p class="center"> No restaurants could be found</p>
    {{/each}}

  </div>
</div>
<!-- Transport -->
<a name="transport"></a>
<div class="blue">
  <div class="icon-top center"><a class="btn-floating btn-large waves-effect waves-light light-blue darken-4 spacing"><i class="fa fa-subway"></i></a></div>
  <div class="row">

    {{#each transport}}
    {{#unless this.keywords_from_user_history}}
      <div class="col l3">
        <div class="card">
          <div class="card-image">

            <img src="../assets/images/{{this.details.filename}}">
            <span class="card-title">{{{this.details.name}}}</span>
            {{#if this.age}}
              <span class="new badge new-store light-green"></span>
            {{/if}}
          </div>
          <div class="card-content">
            <p class="ellipsis multiline">{{{this.details.info}}}</p>

            {{! Star rating conditionals }}

            {{#if (and (mte this.details.avg_rating 1) (lt this.details.avg_rating 1.5)
            )}}
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 1.5) (lt this.details.avg_rating 2)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 2) (lt this.details.avg_rating 2.5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 2.5) (lt this.details.avg_rating 3)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 3) (lt this.details.avg_rating 3.5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 3.5) (lt this.details.avg_rating 4)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 4) (lt this.details.avg_rating 4.5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 4.5) (lt this.details.avg_rating 5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (eq this.details.avg_rating "5")}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}

            {{! Showing matching of keywords from user history visually }}
            <div>
            {{#each ../transport.[0].keywords_from_user_history}}
              {{#if (inArray ../this.details.keywords (toLower this.word))}}
                <div class="chip light-green chip-keyword">
                  {{this.word}}
                </div>
              {{else}}
                <div class="chip red accent-3 chip-keyword">
                  {{this.word}}
                </div>
              {{/if}}
            {{/each}}
            </div>

          </div>
          <div class="card-action">
            <a href="#">Website</a>
          </div>
        </div>
      </div>

    {{/unless}}
    {{else}}
        <p class="center"> No transport could be found</p>
    {{/each}}
  </div>
</div>

<!-- Activities -->
<a name="activities"></a>
<div class="blue lighten-5">
  <div class="icon-top center"><a class="btn-floating btn-large waves-effect waves-light amber lighten-2"><i class="fa fa-binoculars"></i></a></div>
  <div class="row">

    {{#each activities}}
    {{#unless this.keywords_from_user_history}}
      <div class="col l3">
        <div class="card">
          <div class="card-image">

            <img src="../assets/images/{{this.details.filename}}">
            <span class="card-title">{{{this.details.name}}}</span>
            {{#if this.age}}
              <span class="new badge new-store light-green"></span>
            {{/if}}
          </div>
          <div class="card-content">
            <p class="ellipsis multiline">{{{this.details.info}}}</p>

            {{! Star rating conditionals }}
            {{#if (and (mte this.details.avg_rating 1) (lt this.details.avg_rating 1.5)
            )}}
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 1.5) (lt this.details.avg_rating 2)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 2) (lt this.details.avg_rating 2.5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 2.5) (lt this.details.avg_rating 3)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 3) (lt this.details.avg_rating 3.5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 3.5) (lt this.details.avg_rating 4)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 4) (lt this.details.avg_rating 4.5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{#if (and (mte this.details.avg_rating 4.5) (lt this.details.avg_rating 5)
            )}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star-half-o rating"></i>
            {{/if}}
            {{#if (eq this.details.avg_rating "5")}}
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
              <i class="fa fa-star rating"></i>
            {{/if}}
            {{! Showing matching of keywords from user history visually }}
            <div>
            {{#each ../activities.[0].keywords_from_user_history}}
              {{#if (inArray ../this.details.keywords (toLower this.word))}}
                <div class="chip light-green chip-keyword">
                  {{this.word}}
                </div>
              {{else}}
                <div class="chip red accent-3 chip-keyword">
                  {{this.word}}
                </div>
              {{/if}}
            {{/each}}
            </div>

          </div>
          <div class="card-action">
            <a href="#">Website</a>
          </div>
        </div>
      </div>

    {{/unless}}
    {{else}}
        <p class="center"> No activities could be found</p>
    {{/each}}
  </div>
</div>
