<html>
<head>
<<<<<<< HEAD
  	<!-- Compiled and minified JavaScript -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  	<script src="../assets/js/communicator.js"></script>

    <link rel="stylesheet" href="../assets/layout.css" />
=======
	<!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
 <link rel="stylesheet" href="../assets/css/layout.css" />

 <!-- Compiled and minified JavaScript -->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
 <script src="../assets/js/communicator.js"></script>
>>>>>>> origin/master
</head>
<body class="blue lighten-1">

<<<<<<< HEAD
  <div class="central-container">
  	<div class="input-field col s12">
      <select class="browser-default">
  	   <option value="1">Option 1</option>
  	   <option value="2">Option 2</option>
  	   <option value="3">Option 3</option>
      </select>
    </div>
  </div>

  <h2>{{{users.name}}}</h2>
  <div class="input-field col s12">
    <select class="browser-default">
    {{#each users}}
      <option>{{{this.first_name}}} ({{{this.user_id}}})</option>
    {{/each}}
    </select>
=======
  <div class="row rs-title-box">
    <div class="grid-example col s12"><h2 class="flow-text">Recommender System</h2></div>
  </div>

  <div class="row">
    <div class="grid-example col l6 offset-l3">
      <label>Please choose a user:</label>
      <select class="browser-default" id="users">
        {{#each users}}
        <option>{{{this.first_name}}} ({{{this.user_id}}})</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="grid-example col l6 offset-l3">
      <label>Please choose a location:</label>
      <select class="browser-default" id="locations">
        <option>Portsmouth</option>
        <option>Maidstone</option>
        <option>Venice</option>
        <option>San Bernardino</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="grid-example col l6 offset-l3">
      <a class="waves-effect waves-light btn full-width" id="getRecommBtn">Get Recommendations</a>
    </div>
  </div>

  <div class="row">
    <div class="col l6 offset-l3 center">
      <a class="btn-floating btn-large waves-effect waves-light green darken-1"><i class="fa fa-cutlery"></i></a>
      <a class="btn-floating btn-large waves-effect waves-light light-blue darken-4 spacing"><i class="fa fa-subway"></i></a>
      <a class="btn-floating btn-large waves-effect waves-light amber lighten-2"><i class="fa fa-binoculars"></i></a>
    </div>
>>>>>>> origin/master
  </div>

  <!-- Recommendations will appear here -->
  <div id="recommendations"></div>



</body>
</html>
